.all {
    min-height: 100vh;
}

.homeContainer {
    background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
    border-radius: 2.5rem;
    box-shadow: 15px 15px 15px rgba(46, 54, 68, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10rem 5rem;
    z-index: 2;
    margin: 10rem;
}